<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pretvornik Enot</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <div class="vnos">
        <h1>Pretvornik Konji/Kilovati</h1>

        <form method="post" action="/pretvorienoto">
            <p>Pretvorba Konjev v Kilovate:</p>
                <input name="enota1" placeholder="Vpisi konje">
            <button>Pretvori enoto</button>
            <p>Pretvorba Kilovatov v Konje:</p>
                <input name="enota2" placeholder="Vpisi kilovate">
            <button>Pretvori enoto</button>
        </form>
    </div>

</body>
</html>